<html lang="en">
  <head>
  {{>headerlinks}} 
  </head>
  <body>
    <!--HEADER-->

 {{>navbar}}
    <!--BODY-->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <p>About Us</p>
              <h1>
                Creater is a
                <span class="txt_clr"><u>MEAN</u> </span>
                developer, not bitch
                <i>mean</i>. MEAN as in `technology stack`. Creator likes to
                Read, workout, sing, cook that is all I guess or is it?
              </h1>
              <a href="/weather"><button class="btn btn-warning">Weather Me</button></a>
            </div>
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/aboutus.jpeg"
                  class="img-fluid"
                  title="thapa technical"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->
 {{>footer}}
  </body>
</html>